h1 {
    color:white;
   font-family: 'Dancing Script', cursive; 
}
.white {
  color: white;
    }
.tilehead { 
text-align: left;}
.tileDesc
    {text-align: left;}
ul {text-align: left;}
@media screen and (min-width: 64em) {
.u-full-width {
  max-width: 80%;
  box-sizing: border-box; }
h1 {
    font-size: 100px;
    }
h3 {
    font-size: 30px;  
    }
h5 {
    font-size: 20px;  
    }
ul {text-align: left;
margin-left: 20px;
line-height: 1em;}
.sidenav {
    width: 100%;
    height: auto;
    list-style-type: none;
    margin: 0;
    color:#04181f;}
.sidenav li a {
    text-decoration: none;
    float: left;
    display: block;
    text-align: center;
    padding: 10px 16px;
    color:#04181f;
    width:auto;}
.sidenav li a:hover {
    background-color: #040407;
    color: white;
    }

.tileDesc {
  margin-left: 10px;
}
.tile {
  padding: 6em;
  text-align: center;
}
.background {
  background-image: url('http://backgroundcheckall.com/wp-content/uploads/2017/12/dark-blue-watercolor-background-9664.jpg');
  background-size: cover;
  box-shadow:0px 20px 60px -10px grey;
    background-repeat: no-repeat;
    min-height: 20em;
    }
.background2 {
    padding-top: 3em;
    height:auto;
  background-image: url('http://backgroundcheckall.com/wp-content/uploads/2017/12/dark-blue-watercolor-background-9664.jpg');
background-size: cover;
transform: rotate(360deg);
background-repeat: repeat-x;
  color: white;
  box-shadow:0px 20px 50px -10px grey, 0px -20px 50px -10px grey;
}
}
@media screen and (max-width: 65em) {
.head {
    font-size: 14px;
    }
h1 {
    font-size: 75px;
    }
h3 {
    font-size: 25px;  
    }
h5 {
    font-size: 18px;  
    }
.sidenav {
    width: auto;
    list-style-type: none;
    margin: 0;
    color:#04181f;}
.sidenav li a {
    text-decoration: none;
    float: left;
    width: auto;
    text-align: center;
    padding: 10px 16px;
    color:#04181f;}
.tilehead { 
text-align: left;
text-align: center;}
.tile {
    padding: 4em;
    text-align: center;
  }

.tileDesc {
    text-align: center;
}
.background {
  background-image: url('http://backgroundcheckall.com/wp-content/uploads/2017/12/dark-blue-watercolor-background-9664.jpg');
  background-size: cover;
  box-shadow:0px 20px 50px -10px grey;}
    
.background2 {
  background-image: url('https://i.imgur.com/qjwRy5l.jpg?2');
  transform: none;
  background-size: cover;
  color: white;
  box-shadow:0px 20px 40px -10px grey, 0px -20px 40px -10px grey;
}
}


@media screen and (max-width: 37.5em) {
.head {
    font-size: 11px;
    }
h1 {
    font-size: 35px;
    }
h3 {
    font-size: 20px;  
    }
h5 {
    font-size: 18px;  
    }
ul {text-align: center;}
ul.sidenav{
    text-align: center;
    float: none;
    color:#04181f;
    }
ul.sidenav li a {
    text-decoration: none;
    width:100%;
    padding: 10px 12px;
    color:#04181f;}
.tile {
    padding:2em;}
text-align: center;}
.background {
  background-image: url('http://backgroundcheckall.com/wp-content/uploads/2017/12/dark-blue-watercolor-background-9664.jpg');
  background-size: cover;
  box-shadow:0px 10px 30px -10px grey;
  padding-top: 4em;
  padding-left: 1em;
    padding-right: 1em;}

.background2 {
  background-image: url('https://i.imgur.com/qjwRy5l.jpg?2');
  background-size: auto;
  color: white;
  box-shadow:0px 10px 30px -10px  grey, 0px -10px 30px -10px  grey;
}
}