
body {
  padding-top: 2em;
font-family: 'Roboto', sans-serif;
color:black;
 font-weight: 400;
    }
a {color:black;}
h1{
    font-weight: 900;
  color:#387bcb;
font-family: 'Exo 2', sans-serif;
}
h2,h3,h4,h5,h6{
    color:black;
    font-weight: 900;
font-family: 'Tajawal', sans-serif;
}

blockquote p.quote{
  font-weight: lighter;
    font-style: italic;
font-weight: 200;

}
p {
    font-size: 16px;
}
/*<!-- NAVIGATION -->*/
nav .btn-group {
  margin: 0.8rem 2rem 0 0;

}

#nav-menu {
  margin-right: 1rem;
}


/*<!-- HEADER SECTION -->*/

section#intro-header .wrap-headline {
  position: relative;
}
section#intro-header {
  background-image: url(https://i.imgur.com/jyqFEgu.jpg?1);
  background-size: cover;
  padding-bottom: 10em;
}

/*<!-- LEARN MORE SECTION -->*/

section#learn img {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

section#learn h1 {
  margin-top: 5rem;
}


/*<!-- ABOUT US SECTION -->*/

section#about {
  background-color: #eef2f5;
  border-top: 0.1rem solid #d9dde0;
  border-bottom: 0.1rem solid #d9dde0;
  padding-bottom: 2rem;
}

section#about h3.text-center {
margin-top: 0px;
padding-top: 0px;
}
section#about h2.text-center {
margin: 0px;
padding: 0px;
margin-top: 0px;
padding-top: 1em;
}

section#about .feature {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

/*<!-- PRICING SECTION -->*/
section#pricing .center-block {
  width: 90%
}
section#pricing img {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h2.headline {
  padding-top:2rem;
  padding-bottom: 2rem;
}

section#pricing thead .clean {
  background-color: #eef2f5;
}

section#pricing tbody .clean {
  background-color: #eef2f5;
}

/*<!-- CONTACT SECTION -->*/
section#contact {
  border-top: 1px solid #d9dde0;
  padding-top: 3.2em;
  margin-top: 2em;
}

section#contact h4 {
  padding: 1em;
}

section#contact form {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 5.5em;
}
section#contact .contact-form{
    margin-top: -3em;
}


/*<!-- REFLECTION SECTION -->*/
section#reflection {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

section#reflection * {
  color: black;
}

/*<!-- FOOTER SECTION -->*/
footer {
  background-color: #eef2f5;
  color: black;
  margin-top: 3em;
}

footer h5,
footer img {
  margin-top: 5em;
  font-weight: bold;
}

footer address {
  margin-top: 5em;
  margin-bottom: 5em;
  color: black;
}

footer ul {
  margin-bottom: 5em;
}

footer address strong {
  color: black;
  display: block;
  padding-bottom: 0.62em;
}

footer a {
  font-weight: 300;
  color: black;
}

footer a:hover {
  text-decoration: none;
  color: #387bcb;
}
/*contact page*/
section#contact form {
  padding-top: 9rem;
  padding-bottom: 3rem;
}

.hidden-element {
  display: none;
}

@media screen and (max-width: 45em){
cite 
    {padding:auto;}
.mobilecontain {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
    nav .btn-group {
    position: absolute;
    top: 0;
    right: 4em;
  }
section#intro-header {
  background-image: url(https://i.imgur.com/jyqFEgu.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
}
@media screen and (max-width: 1024px){
section#learn p {
    padding-bottom:1em;
    padding-top: 1em;
}
section#learn h1.shorter {
  margin-top: 1rem;
}
section#about p {
  font-size: 14px;
  padding-bottom: 1em;
  padding:1em;
}
section#intro-header {
  background-image: url(https://i.imgur.com/jyqFEgu.jpg);
  background-size: contain;
  padding-bottom: 0em;
}
    }