body {
  padding-top: 3.5rem;
}
section#header p{
    text-align: center;
}
section#header h1{
    font-size: 50px;
    position: relative;
    margin-top: 1em;
}
img.blog{
    padding-right:1em;
}
img.blog{
    padding-left:1em;
}
.header1{
    color:white;
    background-image: url('https://i.imgur.com/be86r9W.jpg');
    background-size: cover;
    padding:3em;
    height:20em;
    margin-bottom: 1em;
    position: relative;
    }
.header2{
    color:white;
    background-image: url('https://i.imgur.com/DBaijaT.jpg');
    background-size: cover;
    padding:3em;
    height:20em;
    margin-bottom: 1em;
    position: relative;
    }
.header3{
    color:white;
    background-image: url('https://i.imgur.com/WZrowx8.jpg');
    background-size: cover;
    padding:3em;
    height:20em;
    margin-bottom: 1em;
    position: relative;
    color:black;
    }

@media screen and (max-width: 768px){
.header1{
    color:white;
    background-image: url('https://i.imgur.com/be86r9W.jpg');
    background-size: cover;
    padding:1em;
    height:15em;
    }
.header2{
    color:white;
    background-image: url('https://i.imgur.com/DBaijaT.jpg');
    background-size: cover;
    padding:1em;
    height:15em;
    }   
    
}

@media screen and (max-width: 45em){
section#header h1{
    font-size: 40px;
    position: relative;
    margin-top: 0px;
}

.header1{
    color:white;
    background-image: url('https://i.imgur.com/be86r9W.jpg');
    background-size: cover;
    padding:1em;
    height:auto;
}
.header2{
    color:white;
    background-image: url('https://i.imgur.com/DBaijaT.jpg');
    background-size: cover;
    padding:1em;
    height:auto;
}
}