@charset "UTF-8";
	
@media screen and (min-width: 64em) {
* {
    box-sizing: border-box;
}
ul.boarder {
    list-style-type: circle;
    border-left: 5px solid #3b4950;}
    
a.porfLinks{
    text-decoration: none;
    color:black;}
    
a.porfLinks:hover {
    font-size:120%;
    text-decoration: none;
    color: #3b4950;}

.imggal {
    margin: 4px;
    border: 2px solid #f1f4f4;
    float: left;
    width: 30%;}

.imggal:hover {
    border: 2px solid #3b4950;
    transform: scale(1.05);}

.imggal img {
    width: 100%;
    height: auto;    }
    
.imgdesc {
    padding: 8px;
    text-align: center;
    font-size: 12px;
    height: 6em;}

/* TABLET SCREEN WIDTH */
@media screen and (max-width: 65em) {
* {
    box-sizing: border-box;
}
ul.boarder {
    list-style-type: circle;
    border-left: 4px solid #3b4950;}
    
a.porfLinks{
    text-decoration: none;
    color:black;}
    
a.porfLinks:hover {
    text-decoration: none;
    color: #afdef3;}
.imggal {
    margin: 4px;
    border: 2px solid #f1f4f4;
    float: left;
    width: 48%;}

.imggal:hover {
    border: 1px solid #3b4950;
    transform: none;}

.imggal img {
    width: 100%;
    height: auto;}
    
.imgdesc {
    padding: 9px;
    padding-top: 2px;
    text-align: center;
    font-size: 12px;
    height: 4em;
}
@media screen and (max-width: 37.5em) {
.imggal:hover {
    border: 1px solid #3b4950;
    transform: none;}
.imggal{}
.imgdesc {
    padding: 1px;
    text-align: center;
    font-size: 11px;
    height: 60px;}
a.porfLinks:hover {
    font-size:100%;
    text-decoration: none;
    color: #afdef3;}
}