@CHARSET "ISO-8859-1";

p.cycle{
	font-size: 15px;
	text-align: left;}
p.center 
	{text-align:center;
	font-size: 18px;}
a {color: black;}
h1	{font-size:25px;
	Font-family:arial black;}

img.Leftimage {
	float: left;
	height: 25%;
	width: 25%;
	}	
img.Rightimage {
	float: right;
	height: 25%;
	width: 25%;
	}	
#Bigimg {
   padding:1px;
   height: 75%;
   width: 75%;
   border:1px solid black;
   background-color:yellow;
}



body.Japan {
	background: url(CherryBlossoms.gif);
	background-size: 25%, 25%;
	margin:	0;
	font-family: century gothic;} 
body.London{
	font-family:elephant;
	background: url(giphy.gif) ;
	background-size: 25%, 25%;
	margin:	0;} 
body.Home{
	background: url(travel.jpg);
	background-size: 25%, 25%;
	margin:	0;
	font-family:Arial;} 
	
	body.Australia{
    background: url(australia2.jpg);
    background-size: 25%, 25%;
    margin:    0;
    font-family: Calibri; } 
	
	

#container{
	margin: auto; 
	overflow: hidden; 	
	width: 900px;
	text-align: center;
	font-color:black;
	background-color: white;}
#header{
	font-color:black;
	overflow: hidden;}
#First {
	background-color:white;
	overflow: hidden;
	padding:0;}
#second {
	background-color:white;
	overflow: hidden;
	padding:0;
	margin:5px;
	float:left;}
#third {
	background-color:white;
	overflow: hidden;
	padding:0;
	margin:5px;
	float:left;}
#Forth {
	background-color:white;
	overflow: hidden;
	padding:0;
	margin:5px;
	float:left;}
#Fifth {
	background-color:white;
	overflow: hidden;
	padding:0;
	margin:5px;
	float:left;}
	
#bottom
	{background-color: white;
	background-color: inherit;
clear: both;}

.button{
	height: 80px; 
	width: 150px; 
	background-color: white;
	font-family:Arial Black;}
.button1 
	{Float: left;
	height: 107px;
	width: 200px; 
	font-family:Arial Black;
	background: url(tokyohomepage.jpg); 
	background-size: 200px 107px; 
	color: white;
	font-size: 16px;
	margin:5px;}
.button2 
	{Float: right;
	height: 107px;
	width: 200px;
	font-family:Arial Black;
	background: url(LondonHomepage.jpg); 
	background-size: 200px 107px; 
	color: white;
	font-size: 16px;
	margin:5px;}
.button3
	{height: 107px;
	width: 200px;
	font-family:Arial Black;
	background: url(SydneyHomepage.jpg); 
	background-size: 200px 107px; 
	color: white;
	font-size: 16px;
	margin:5px;}
.button4
    {Float: left;
    height: 107px;
    width: 200px;
    font-family:Arial Black;
    background: url(travel.jpg); 
    background-size: 200px 107px; 
    color: white;
    font-size: 16px;
    margin:5px;}
.button5
    {Float: right;
    height: 107px;
    width: 200px;
    font-family:Arial Black;
    background: url(travel.jpg); 
    background-size: 200px 107px; 
    color: white;
    font-size: 16px;
    margin:5px;}
.button6
    {height: 107px;
    width: 200px;
    font-family:Arial Black;
    background: url(travel.jpg); 
    background-size: 200px 107px; 
    color: white;
    font-size: 16px;
    margin:5px;}
